* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 150px;
  height: 150px;
}

#logo{
  width: 300px;
}
.mainButton {
  font-size: 1.5em;
}
